<mat-card>
  <mat-card-title> Trips </mat-card-title>
  <mat-card-content>
    <mat-list data-cy="trips-list">
      <mat-list-item
        *ngFor="let trip of trips"
        attr.data-cy="trip-{{ trip.id }}-item"
        class="mat-list-option"
        (click)="selected.emit(trip)"
      >
        <span matLine attr.data-cy="trip-{{ trip.id }}-item-title">{{
          trip.title
        }}</span>
        <button
          *ngIf="!readonly"
          attr.data-cy="delete-trip-{{ trip.id }}-btn"
          mat-icon-button
          type="button"
          color="warn"
          (click)="deleted.emit(trip); $event.stopImmediatePropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
